.header {
    display: flex;
    align-items: center;
    background: rgb(63,156,205);
background: linear-gradient(90deg, rgba(63,156,205,1) 42%, rgba(2,0,36,1) 100%);
    color: #fff;
    padding: 10px 20px;
  }
   
  .toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
  }
   
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: auto;
  }
  .logo a {
    text-decoration: none;
    color: #ffffff;
  }
   
  .nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
  }
   
  .nav a.active {
    border-bottom: 2px solid #fff;
  }
  .dark-mode-btn {
    background-color: inherit;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 20px;
  }